* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: #E8E8E8;
}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 95vh;
}

/* ---------------------- bar --------------------- */
#bar {
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bar p {
    align-self: center;
    padding-left: 5px;
}

#bar-button {
    display: flex;
    justify-content: space-between;
}

#bar-button span {
    display: flex;
    width: 60px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

#mini:hover {
    background-color: #D3D3D3;
}

#win:hover {
    background-color: #D3D3D3;
}

#close:hover {
    background-color: red;
    color: white;
}

/* ------------------- container --------------------- */
#container-1 {
    /* width: 70%;
    height: 100%; */
    display: flex;
    flex-direction: column;
    flex: 3;
}

#container-2 {
    /* width: 30%;
    height: 100%; */
    display: flex;
    flex-direction: row;
    flex: 1;
}

/* ------------------- display --------------------- */
#display {
    width: 100%;
    height: 30%;
}

#display span {
    display: flex;
    justify-content: row;
}

#dis-icon1 {
    height: 20%;
    display: flex;
    justify-content: space-between;
}

#dis-icon2 {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#dis-icon2 span {
    padding: 12px;
}

#dis-icon2 span:hover {
    background-color: #D3D3D3;
}

#dis-icon2 p {
    font-size: 20px;
}

/* check thisssssssssssssssssssss */
#test {
    visibility: hidden;
    align-self: center;
    padding-right: 5px;
}

#dis-number {
    display: flex;
    height: 60%;
    justify-content: flex-end;
    align-items: center;
}

#dis-number p {
    font-size: 64px;
    font-weight: bold;
    padding-right: 15px;
}

#dis-button {
    display: flex;
    justify-content: space-between;
    height: 20%;
    width: 400px;
}

#dis-button p {
    padding: 10px;


}

#memory-1 {
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

/* check thisssssssssssssssssssss */
#memory-2 p {
    visibility: hidden;
}

/* ------------------- keyboard --------------------- */
#keyboard {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    width: 100%;
    height: 70%;
}

#keyboard span {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F0F0F0;
}

.color-white {
    background-color: #FEFEFE;
    font-size: 20px;
    font-weight: bold;
}

.color-gray {
    background-color: #F5F5F5;
    font-size: 16px;
}

.set-font-size {
    font-size: 26px;
}

#keyboard span:hover {
    background-color: #D3D3D3;
}

/* ------------------- history --------------------- */
#history {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#his-memory {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10%;
}

#his-memory p {
    justify-self: center;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
}

#his-message {
    font-weight: bold;
    padding: 5px;
}

/* width = 1024px keyboard change */
@media only screen and (max-width: 1024px) {
    #keyboard {
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(6, auto);
    }

    #disappear {
        display: none !important;
    }

    .row-1 {
        grid-area: 1;
    }
}

/* width = 740px sidebar starts to decrease */
@media only screen and (min-width: 740px) {
    #container-2 {
        max-width: 320px;
    }
}

/* width= 500px history disppear and keyboard change*/
@media only screen and (max-width: 580px) {
    #container-1 {
        width: 100vw;
    }

    #container-2 {
        display: none;
    }
}